.contact-info-section {
  display: flex;
  gap: 20px;
  justify-content: center;
padding: 2rem 10%;
  background-color: #fff;
}

.contact-info-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  width: 260px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  text-align: center;
  transition: transform 0.3s ease;
}

.contact-info-card .icon {
  background-color: transparent;
    border: 1px solid #69727d;
    color: #69727d;
    padding: 0.5em;
    border-radius: 50%;
    width: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
}
.info-1{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 7%;
    margin-bottom: 20px;
    justify-content: center;
}
.contact-info-card h3 {
  font-size: 20px;
  margin: 0 0 5px;
  font-weight: 600;
}

.contact-info-card .subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.contact-info-card p {
  margin: 4px 0;
  font-size: 15px;
  color: #333;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .contact-info-section {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .contact-info-card {
    width: 100%;
    max-width: 330px;
  }
}
