.chartsdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  gap: 20px;
}

.statschart {
  display: flex;
  padding: 10px 4%;
  width: 100%;
  max-width: 1300px;
  gap: 20px;
}
@media (max-width: 1024px) {
  .chartsdiv {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5%;
    gap: 30px;
  }

  .statschart {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .chartsdiv,
  .statschart {
    padding: 10px 3%;
  }
}
