
.discount-banner {
  background: url('/assets/home/Discount/background.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 80px;
  padding-left: 17%;
  border-radius: 16px;
  margin: 40px 10.5%;
  box-sizing: border-box;
}

.discount-content {
  max-width: 300px;
}

.discount-tag {
 color: #047244;
    font-family: "Inter", Sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.discount-heading {
     color: #252525;
    font-family: "Inter", Sans-serif;
    font-size: 37px;
    line-height: 1.1;
    font-weight: 600;
    margin:15px 0;
    margin-bottom: 18px;
}

.discount-subtext {
 color: #626262;
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 23px;
}

.shop-btn {
  background-color: #047244;
    font-family: "Inter", Sans-serif;
    font-size: 11px;
    font-weight: 600;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    padding: 12px 18px 12px 18px;
    border: none;
    outline: none;
  cursor: pointer;
}

.discount-image img {
  width: 400px;
  max-width: 100%;
  object-fit: contain;
}