
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  padding-left: 15%;
  background: url('/assets/home/banner/background.jpg') no-repeat center center;
  background-size: cover;
  height: 77vh;
  box-sizing: border-box;
}

.banner-content {
  max-width: 50%;
}

.discount-text {
 color: #047244;
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;

}

.banner-heading {
  margin-bottom: 20px;
  color: #252525;
    font-family: "Inter", Sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.1em;
}

.banner-subtext {
  color: #555555;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.shop-btn {
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  background-color: #047244;
    font-family: "Inter", Sans-serif;
    font-size: 11px;
    font-weight: 600;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    padding: 12px 18px 12px 18px;
}

.shop-btn:hover {
  background-color: #047244;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}
/* Large Screens (up to 1200px) */
@media (max-width: 1200px) {
  .banner {
    padding: 50px 8%;
    padding-left: 12%;
  }

  .banner-heading {
    font-size: 45px;
  }
}

/* Medium Screens (up to 992px) */
@media (max-width: 992px) {
  .banner {
    flex-direction: column-reverse;
    text-align: center;
    padding: 50px 5%;
    height: auto;
  }

  .banner-content {
    max-width: 100%;
    margin-top: 30px;
  }

  .banner-heading {
    font-size: 40px;
  }

  .banner-subtext {
    font-size: 15px;
  }
}

/* Small Screens (up to 768px) */
@media (max-width: 768px) {
  .banner {
    padding: 40px 4%;
    padding-left: 4%;
  }

  .banner-heading {
    font-size: 30px;
  }

  .banner-subtext {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .discount-text {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .shop-btn {
    font-size: 10px;
    padding: 10px 16px;
  }

  .banner-image img {
    width: 100%;
    height: auto;
  }
}
