.table-container {
  overflow-x: auto;
  padding: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.orders-table th,
.orders-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.orders-table th {
  background-color: #f9f9f9;
  font-weight: bold;
  color: #555;
  font-size: 14px;
}

.orders-table td {
  font-size: 14px;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  display: inline-block;
  color: rgb(83, 83, 83);
  font-weight: 500;
}

.status.pending {
  background-color: #f7c948;
  color: #000;
}

.status.delivered {
  background-color: #3ed598;
}

.status.processing {
  background-color: #4e91f9;
}

.status.cancel {
  background-color: #f66d6d;
  color: black;
}
.action-dropdown {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
}

.action-dropdown:focus {
  outline: none;
  border-color: #047244;
}
.view-details-btn {
  padding: 6px 10px;
  background-color: #047244;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.view-details-btn:hover {
  background-color: #047244;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .orders-table {
    font-size: 12px;
    min-width: 600px;
  }

  .orders-table th,
  .orders-table td {
    padding: 10px 8px;
  }

  .table-container {
    padding: 10px;
  }
  .action-dropdown {
    font-size: 12px;
    padding: 5px 8px;
  }
}
